.memo-container{
    width: 80%;
    margin: 0 auto;
    margin-top: 3%;
}
.memo-container button{
    float: right;
    margin-right: 1%;
    margin-bottom: 2px;
    background-color: transparent;
    border: none;
    color: bisque;
    cursor: pointer;
    letter-spacing: 0.9pt;
}
.memo-container button:hover{
    text-decoration: underline;
    color: rgb(255,220,40);
}
.memo-textarea{
    width: 100%;
    border-radius: 20px;
    height: 15vh;
    padding: 20px;
    background-color: rgb(251, 248, 225);
    font-weight: 600;
    color: blueviolet;
}
.memo-textarea:focus{
    outline: none;
    caret-color: #a39bd2;

}
